*{
	margin:0px;
	padding:0px;
}
#game_canvas{
	border:solid 1px purple;
	width:900px;
	height:600px;

	margin-top: 15px;

	display: block;
	position: relative;
	margin-left: auto;
  	margin-right: auto;

	image-rendering: pixelated;
	image-rendering: crisp-edges;	
}