<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="img/favicon.ico" type="image/ico">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/lobby.css">

	<script src="js/jquery-3.4.1.min.js"></script>
</head>

<body>
	<div id="background"></div>

	<div id="lobby-center-container">
		<h2>Salas de jogo</h2>

		<div class="room-container"></div>
		<div class="room-container"></div>
	</div>
</body>
</html>