<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="img/favicon.ico" type="image/ico">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/lobby.css">

	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>

</head>

<body>
	<div id="background"></div>

	<div id="lobby-info-container">
		<div id="lobby-info-tarolinho"><img src='img/arrow.png' id='tarolinho-arrow'></div>
		<div id="lobby-info-body">
			<h5 id='lobby-info-name'><%= session.name %></h5>
			<input type=hidden id='hidden-name' value='<%= session.name %>'>
			<div class='lobby-container'>
				<p class='lobby-info-title'>Habilidades</p>
				<div class='lobby-info-skill'></div>
				<div class='lobby-info-skill'></div>
				<div class='lobby-info-skill'></div>
				<div class='lobby-info-skill'></div>
				<div class='lobby-info-skill'></div>
				<div class='lobby-info-skill'></div>
			</div>
			<div class='lobby-container'>
				<p class='lobby-info-title'>Skins</p>
				<div class='lobby-info-skin'></div>
				<div class='lobby-info-skin'></div>
				<div class='lobby-info-skin'></div>
			</div>
		</div>
	</div>

	<div id="lobby-center-container">		
	</div>

	<script src="js/lobby.js" type='module'></script>
</body>
</html>