<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="img/favicon.ico" type="image/ico">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/lobby.css">

	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>

</head>

<body>
	<input type=hidden id='hidden-name' value='<%= session.name %>'>

	<div id='lobby-container'>
		<section id="info-container">
			<div id="arrow-box"><img src='img/arrow.png' id='toggle-arrow'></div>
			<div id="lobby-info-body">
				<h5 id='player-name'><%= session.name %></h5>				
				<div class='stuff-container' id='skills-container'></div>
			</div>
		</section>
	
		<div id="rooms-container"></div>
	</div>>	

	<script src="js/lobby.js" type='module'></script>
</body>
</html>